@import "./index.css";

.tool {
  height: 100vh;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Helvetica Neue",
    Arial, sans-serif;

  code {
    font-family:
      ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas,
      "Liberation Mono", monospace;
  }

  .cred-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
    max-width: 420px;
    overflow: scroll;
    white-space: nowrap;
  }
}
